<h2>Show Photo</h2>

<ul>

  <li>
    <strong>Album:</strong>
    <%= @photo.album_id %>
  </li>

  <li>
    <strong>Image:</strong>
    <%= @photo.image %>
  </li>

</ul>

<span><%= link "Edit", to: photo_path(@conn, :edit, @photo) %></span>
<span><%= link "Back", to: photo_path(@conn, :index) %></span>
