<h2><%= @album.name %></h2>

<ul>

  <%= for photo <- @album.photos do %>
  <li>
    <img src=<%= "https://s3.eu-west-2.amazonaws.com/imagey-elixir/#{photo.album_id}/" <> photo.image %> />
  </li>
  <% end %>
</ul>

<span><%= link "Edit", to: album_path(@conn, :edit, @album) %></span>
<span><%= link "Back", to: album_path(@conn, :index) %></span>
